.List{
    overflow: auto;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    background-color: black;
    height: 100%;

    li {
        list-style-type: none;
      }
      
      ul {
        margin-left: 0;
        padding-left: 0;
      }
}

.img {
    width: 150px;
    margin: 20px;
}

.button {
    margin: 20px;
}

.loader{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}